@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

.link {
  @apply underline-offset-[3px] hover:underline;
}

@layer base {
  code {
    @apply bg-black border border-primary/50 text-primary py-1 px-3 rounded-full text-sm;
  }
}
