@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-light/40 text-light;
}

.bg-dots-pattern {
  background-image: radial-gradient(#ff6d60 7px, transparent 7px),
    radial-gradient(#ff6d60 7px, transparent 7px);
  background-size: 72px 72px;
  background-position: 0 0, 36px 36px;
  background-color: rgba(255, 110, 97, 0.95);
}

@layer base {
  code {
    @apply bg-black border border-primary/50 text-primary py-1 px-3 rounded-full text-sm;
  }
}

@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }
}
